body{
	background:url(images/bg.jpg) no-repeat center center fixed;
    background-size:cover;
}

h1{
    font-weight:bold;
    margin-bottom:3%;
}

.container {
    margin-top: 25vh;
    padding-top:3vh;
    padding-bottom:3vh;
    border-radius: 10px;
}

.col{
	background-color: rgba(255, 255, 255,0.95);
	border-radius: 5px;
	padding-bottom:2%;
    box-shadow: 1px 1px 10px #666;
}

.btn,.btn:focus {
    width: 18%;
    font-weight: bold;
    background-image: url(images/copy.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 22% 50%;
    padding-left: 3%;
}

.btn:focus{
    background-image: url(images/copy.png);
}

.result {
    margin-top: 2vh;
    display:flex;
    justify-content:space-between;
}

.bg-danger{
    padding: 1.5vh;
    border-radius: 5px;
}

.result-wrap {
    font-size: 15px;
    width:80%;
    color: #fff;
    background-color: #333;
    padding: 2vh;
    border-radius: 5px;
}


