.container {
    margin-top: 20vh;
    padding-top:3vh;
    padding-bottom:3vh;
    border-radius: 10px;
    font-family:'Arial',sans-serif;
    
}

.btn,.btn:focus {
    width: 18%;
    font-weight: bold;
    background-image: url(images/copy.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 22% 50%;
    padding-left: 3%;
}

.btn:focus{
    background-image: url(images/copy.png);
}

.result {
    margin-top: 2vh;
    display:flex;
    justify-content:space-between;
}

.bg-danger{
    padding: 1.5vh;
    border-radius: 5px;
}

.result-wrap {
    font-size: 15px;
    width:80%;
    color: #fff;
    background-color: #333;
    padding: 2vh;
    border-radius: 5px;
}

h1{
    font-weight:bold;
}


