*{
	box-sizing:border-box;
}

select{
	cursor: pointer;
}

.wrapper{
	border:1px solid #ccc;
	padding-bottom:3%;
}

header{
	background-color:#333;
	color:#fff;
	padding:2%;
	text-align: center;
	font-size:2em;
}

.form-control{
	/*cursor: pointer;*/
}

.names{
	margin-top:15px;
}

.names .form-control{
	margin-bottom:15px;
}